.inputDiv {
  padding: 12px 0;
}

.inputDiv input {
  background: transparent;
  border: 1px solid #333639;
  border-radius: 4px;
  height: 54px;
  color: #e7e9ea;
  font-size: 17px;
  font-weight: 400;
  padding: 0 8px;
  width: -webkit-fill-available;
}

.inputDiv input::-webkit-outer-spin-button,
.inputDiv input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  border: 1px solid red !important;
}

.error:focus {
  outline: none !important;
  border: 1px solid red;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
