.loginText {
    color: rgb(113, 118, 123);
    margin-top: 40px;
    font-size: 15px;
    font-weight: 400;
    font-family: inherit;
    line-height: 20px;
}

.loginText .loginAction {
    color: #1D9BF0;
}

.loginText .loginAction:hover {
    cursor: pointer;
    text-decoration: underline;
}

.agreementText {
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    line-height: 16px;
}